* {
  box-sizing: border-box;
}
html {
  color: #222;
  font-family: Arial;
  font-size: 18px/1.5;
}
body {
  margin: 1rem auto;
  max-width: 600px;
  padding: 0 1rem;
}

a {
  color: #0f5b9e;
  text-decoration: none;
}

a.active {
  text-decoration: none;
  border-bottom: 2px solid #0f5b9e;
}

a:hover {
  text-decoration: underline;
}

p {
  margin-top: 0;
}

body > header h2 {
  margin-top: 0;
  margin-bottom: 20px;
  height: 20px;
}

label {
  font-weight: bold;
  margin-bottom: 8px;
}

button,
input {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  cursor: pointer;
}
button.small {
  padding: .5rem;
  font-size: .8rem;
}
input {
  display: block;
  padding: 1rem;
  width: 100%;
}
table {
  width: 100%;
  overflow: auto;
}
select {
   font-size: 1.2rem;
   height: 1.4rem;
   border: 1px solid #ccc;
   margin: 0.3rem;
}
hr {
  border: 0.5px solid #b0aeae;
  border-radius: 0.5px;
  width: 103%;
  color: #d3d0d0;
  box-shadow: 0px 1px 5px #a4a2a2;
}
/* Header */
body > header {
  padding: 20px 0;
  position: relative;
}
body > header a {
  text-decoration: none;
}
body > header h1 {
  font-size: 2em;
  line-height: 1em;
  margin-top: 0;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  body > header {
    padding: 25px 0;
  }
  body > header h1 {
    position: relative;
    display: inline-block;
    left: 0;
    top: 50%;
    bottom: 25%;
    transform: translateY(-100%);
    padding: 10px;
  }
  body > header nav {
    position: relative;
    float: left;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}
body > header ul {
  list-style-type: none;
  display: block;;
  padding: 0;
  margin: 0;
}
body > header ul li {
  border-radius: 1px;
  border: 1px solid #4c89be;
  color: #000;
  display: inline-block;
  padding: 0.8rem;
  margin: 0.4rem;
}
body > header ul li:not(:last-child) {
  margin-right: 20px;
}

/* toggle content based on account & store status */
[data-account-state] {
  display: none;
}
[data-account-state='signed-in'],
[data-account-state='signed-out'] {
  display: block;
}
[data-store-state='empty'] [data-hide-if="store-empty"],
[data-store-state='not-empty'] [data-hide-if="store-not-empty"] {
  display: none;
}
[data-account-state='signed-in'] [data-hide-if="signed-in"],
[data-account-state='signed-out'] [data-hide-if="signed-out"] {
  display: none;
}
[connection-status='status-off'],
[connection-status='status-ready'] {
  display: block;
}
[connection-status='status-off'] [data-hide-if="status-off"],
[connection-status='status-ready'] [data-hide-if="status-ready"] {
  display: none;
}


/* index page */
form.add-item {
  border-bottom: 1px solid #333;
  padding-bottom: 25px;
  margin-bottom: 25px;
  position: relative;
}

form.add-item:after {
  content: '';
  display: block;
  clear: both;
}

form.add-item .tracker-amount,
form.add-item .tracker-item,
form.add-item .btn {
  width: 100%;
}

form.add-item input {
  margin-bottom: 20px;
}

form.add-item label {
  margin-bottom: 8px;
}

form.add-item button {
  width: 100%;
}

@media (min-width: 768px) {
  form.add-item {
    padding-bottom: 5px;
  }

  form.add-item .amount {
    width: 16%;
    float: left;
  }

  form.add-item .item {
    width: 50%;
    float: left;
    margin: 0 2%;
  }

  form.add-item button {
    width: 30%;
    float: left;
    margin-top: 27px;
  }
}

form.form-create {
  height: 10px;
}

.items {
  display: none;
}
[data-store-state='empty'] .items,
[data-store-state='not-empty'] .items {
  display: block;
}

.items .placeholder td {
  text-align: center;
}
.items table + button {
  width: 100%;
}

@media (min-width: 768px) {
   table + button {
    width: auto;
    float: right;
    overflow: auto;
  }
}

/* account page */
.account-page main label {
  font-size: .8rem;
}
.account-page main input {
  font-size: 1rem;
  padding: 1rem;
}

@media (min-width: 768px) {
  .account-page main input {
    width: 300px;
  }
}

[data-show] > * {
  display: none;
}
[data-show="signin"] .signin,
[data-show="signup"] .signup,
[data-show="password-reset"] .password-reset,
[data-show="options"] .options,
[data-show="change-email"] .change-email,
[data-show="change-password"] .change-password,
[data-show="delete-account"] .delete-account {
  display: block;
}

.signup-link {
  margin-top: 25px;
  text-align: center;
  border: 1px solid #0f5b9e;
  border-radius: 5px;
  padding: 15px;
}
.signup-link h3 {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 10px;
}

.options button {
  display: block;
  border: 2px solid #333;
  color: #333;
  background: transparent;
  text-align: left;
  width: 300px;
  position: relative;
}

.options button:after {
  content: '►';
  position: absolute;
  right: 15px;
}
.options button:hover {
  border: 2px solid #0f5b9e;
  color: #0f5b9e;
}

.options button:not(:last-child) {
  margin-bottom: 8px;
}
/* Layout */



table td input {
  width: 100%;
}

.return-link {
  display: block;
  margin-bottom: 15px;
}

/* Components */

.account-settings {
  display: none;
}


.signup-toggle,
.signin-toggle {
  font-size: .8em;
}

.signup-toggle {
  text-align: center;
  color: #333;
}

.signup-toggle:hover {
  text-decoration: none
}

.signout-container {
  border-top: 1px solid #A1A1A1;
  margin: 25px 0;
  padding: 15px 0;
  text-align: right;
}

button,
.btn {
  display: block;
  float: left;
  border-radius: 4px;
  background: #e3e2e2;
  color: #000;
  padding: 1rem;
  margin: 2%;
  border: 1px solid #CCC;
  width: 90%
}

button,
.btn:hover {
  text-decoration: none;
}

.btn-link {
  padding: 1rem;
}

button.primary {
  background-color: #0f5b9e;
  color: #fff;
  border: 1px solid #0f5b9e;
}

input,
table {
  border: 5px solid #A1A1A1;
  border-radius: 4px;
}
table {
  border-collapse: collapse;
}

table th:first-child{
  width: 20%;
}

.btn:focus,
input:focus {
  border-color: transparent;
  outline: none;
  box-shadow: 0 0 0 2px #0f5b9e;
}

table {
  border: 1px solid #0f5b9e;
  border-radius: 4px;
  margin-bottom: 15px;
}

table th,
table td {
  padding: 1rem;
  text-align: left;
  border: solid #f1f1f1 5px;
  border-radius: 4px;
}

table th:first-child,
table td:first-child {
  padding: 1rem;
}

table td {
  border-radius: 4px;
  background-color: #f1f1f1;
}

table a {
  text-decoration: none;
}

table tr td:first-child {
  width: 180px;
}

table tr td:nth-child(2) {
  width: 120px;
}

table td > a {
  display: block;
  padding: 1rem;
  margin: -1rem;
}

img.hoodie-camp {
  max-width: 100%;
}

img.low-profile-dog {
  width: 120px;
  height: 160px;
  float: right;
}

/* Show content for screenreaders only */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.form-hide {
  display: none;
}
table {
  display: table;
  float: left;
  overflow: auto;
}
body {
  background: transparent;
  font-size: 16px;
}
.container {
  position: relative;
  background: #fff;
  margin-top: -10px;
  padding: 0;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
}
.content {
  padding: 20px;
}
/* Make the content easier to read by limiting the width of the elements. */
.content {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
/* Add more space around the page elements */
.content nav:last-child {
  margin-top: 30px;
  margin-bottom: 60px;
}
.content pre,
.content .service-worker-status-text {
  margin-top: 60px;
  margin-bottom: 60px;
}
.content form {
  margin-top: 30px;
  margin-bottom: 30px;
}
.content .ciu_embed {
  margin-top: 30px;
}
.content pre {
  border-width: 0;
}

.copy {
  padding: 20px;
  margin: 30px 0 0;
  border-radius: 5px;
}
.jumbotron,
.copy {
  background: #f5f5f5;
  margin: 0;
  border-radius: 0;
}
.copy p {
  margin: 0;
}
.jumbotron {
    text-align: center;
}
.colorList {
  margin: 20px 0;
  border: 1px solid #ddd;
  border-bottom: 0;
  padding: 0;
}
.colorList li {
  list-style: none;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
}
.colorList li:hover {
  background: #eee;
}

.colorList li:first-child:after {
  content: ' current color';
  color: #ccc;
  margin-left: 20px;
  font-style: italic;
  font-size: 0.8;
}
.colorList li .remove {
  color: #c00;
  font-weight: bold;
}

.content h3 {
  border-top: 1px solid #ddd;
  padding-top: 10px;
  margin-top: 50px;
}

.service-worker {
  display: none;
}
.service-worker.loading {
  display: block;
}

.service-worker-status-text {
  text-align: center;
}

.service-worker-status,
.connect-status,
.status,
.connection-status {
  padding: 0 5px 2px 5px;
}

.glyphicon {
  font-size: 1.5em;
  vertical-align: middle;
}

.connect-status-success{
  color: #690;
}

.connect-status-error{
  color: #F00;
}

[data-service-worker="ready"] .service-worker.ready {
  display: block;
}
[data-service-worker="error"] .service-worker.error {
  display: block;
}

[data-service-worker="not-supported"] .service-worker.loading,
[data-service-worker="error"] .service-worker.loading,
[data-service-worker="ready"] .service-worker.loading {
  display: none;
}
/* Project card */
.projectcard {
  display: inline;
}

/* Dropdown Button */
.dropbtn {
 background-color: #0f5b9e;
 color: white;
 padding: 16px;
 font-size: 16px;
 border: none;
 cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
 background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
 display: inline-block;
 float: right;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
 display: none;
 position: absolute;
 background-color: #f1f1f1;
 min-width: 160px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 1;
 float: left;
}

/* Links inside the dropdown */
.dropdown-content a {
 color: black;
 padding: 12px 16px;
 text-decoration: none;
 display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
